.add-inp{
    border-radius: 16px;
    border-color: #84c8d7;
    height: 50px;
    width: 300px;
    background-color: white;
}
.add-detail{
    border-radius: 16px;
    border-color: #84c8d7;
    height: 70px;
    width: 350px;
    background-color: white;
    
    
    
} 
source{
    width: 100%;
}

    
.img{

    width: 100%;
     
}

